<h1>Angular Application</h1>

<h2>Here Are the some imp rules</h2>

<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illum eligendi eius laboriosam fuga beatae repellendus ipsa, soluta id est sint, cum dolorem? Atque eos beatae doloribus. Perferendis dolore, dolorem beatae cupiditate at deleniti in minima excepturi qui repudiandae soluta inventore, accusantium libero itaque ut illo accusamus placeat dicta quo quaerat nesciunt amet ducimus aliquid magnam? Enim, eaque placeat in minima aspernatur, aperiam quis culpa harum, ex quaerat repellat possimus aliquid. Officia alias consectetur atque assumenda facere architecto repellendus ex recusandae est natus eveniet at esse, repellat aliquid dolore deserunt.</h4>